{% load static %}
<footer>
    <!-- Top Section -->
    <div class="footer-top py-4">
        <div class="container">
            <div class="row align-items-center">
                <!-- Logo -->
                <div class="col-lg-3 col-md-6 col-sm-12 text-center text-lg-start mb-3 mb-lg-0">
                    <img src="{% static 'images/logo.png' %}" alt="Vimson Derma Logo" class="footer-logo">
                    <p class="text p6">T: (+91) 743-308-8833</p>
                    <p class="text p6">E: <a href="mailto:info@vimsonderma.com">info@vimsonderma.com</a></p>
                </div>

                <!-- Contact Us -->
                <div class="col-lg-3 col-md-6 text-center">
                    <h5 class="footer-heading">Our Manufacturing Units</h5>
                    <div class="row">
                        <div class="col-6">
                     <p class="text p6 mb-1"><strong>Cosmetics Plant:</strong> 806/4, Kothari Industrial Estate, Santej, Kalol, Gujarat 382721</p>
                        </div>
                        <div class="col-6">
                        <p class="text p6"><strong>Pharma Plant:</strong> 816/3, Kothari Industrial Estate, Santej, Kalol, Gujarat 382721</p>         
                        </div>
                    </div>
                </div>

                <!-- Quick Links -->
                <div class="col-lg-3 col-md-6 text-center">
                    <h5 class="footer-heading">Quick Links</h5>
                            <p class="text p6"><a href="{% url 'about' %}">About Us</a></p>
                            <p class="text p6"><a href="{% url 'facecare' %}">Products</a></p>
                            <p class="text p6"><a href="{% url 'blogs' %}">Our Blogs</a></p>
                </div>

              
                <!--Google Map Location-->
                <div class="col-lg-3 col-md-3 col-sm-12 text-center text-lg-start mb-3 mb-lg-0">
                    <div class="container">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7339.770888611838!2d72.473755!3d23.101289!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e9d00e3fee52d%3A0x91113c8234854263!2sVimson%20Derma!5e0!3m2!1sen!2sin!4v1747467769499!5m2!1sen!2sin"
                            style="border:0; height: 200px; width:200px;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
   
</div>
        </div>
    </div>

    <!-- Bottom Section -->
    <div class="footer-bottom py-3">
        <div class="container d-flex flex-column flex-lg-row justify-content-between align-items-center">
            <p class="mb-2 mb-lg-0 text-white text-center">&copy; 2025 Vimson Derma. All Rights Reserved</p>

            <!-- Social Icons -->
            <div class="social-icons">
                <a href="https://www.facebook.com/VimsonDermaIndia/" class="social-icon"><i
                        class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/vimson_derma/" class="social-icon"><i
                        class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/company/vimson-derma/" class="social-icon"><i
                        class="fab fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</footer>