{% load static %}

<nav class="navbar navbar-expand-lg custom-navbar w-100 p-0 sticky-top">
    <div class="container-fluid p-0">
        <!-- Left Section: Logo -->
        <a class="navbar-brand m-0 h-100 p-0" href="{% url 'index' %}">
    <img src="{% static 'images/navbar-logo-2.png' %}" alt="Logo" class="w-auto d-block" style="max-height: 100px;">
        </a>

        <!-- Navbar Toggler (Mobile) -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Center Section: Navbar Items -->
        <div class="collapse navbar-collapse" id="navbarNav" style="flex-grow: 1;">
            <ul class="navbar-nav justify-content-around">
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'about' %}">About Us</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Services
                    </a>
                    <ul class="dropdown-menu" id="customDropdownMenu">
                        <li><a class="dropdown-item" href="{% url 'manafacturing' %}">Third Party Manufacturing</a></li>
                        <li><a class="dropdown-item" href="{% url 'services'%}">Private Label Manufacturing</a></li>
                        <li><a class="dropdown-item" href="{% url 'innovation' %}">Formulation & Customization</a></li>
                        <li><a class="dropdown-item" href="{% url 'research' %}">Research & Development</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" data-bs-auto-close="outside">
                        Products
                    </a>
                    <ul class="dropdown-menu" id="customDropdownProductMenu">
                        <li><a class="dropdown-item" href="{% url 'medicated' %}">Medicated</a></li>
                        <!-- Separator -->
<!--                        <li><hr class="dropdown-divider"></li>-->
                        <!-- <li><a class="dropdown-item" href="{% url 'facecare' %}">FaceCare</a></li>
                        <li><a class="dropdown-item" href="{% url 'haircare' %}">HairCare</a></li>
                        <li><a class="dropdown-item" href="{% url 'bodycare' %}">BodyCare</a></li>
                        <li><a class="dropdown-item" href="{% url 'mens_grooming' %}">Men's Grooming</a></li>
                        <li><a class="dropdown-item" href="{% url 'intimatecare' %}">Intimate Care</a></li>
                        <li><a class="dropdown-item" href="{% url 'mothercare' %}">Baby & Mother Care</a></li>
                        <li><a class="dropdown-item" href="{% url 'veterinary' %}">Veterinary Care</a></li> -->
                      <li class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">Cosmetics</a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{% url 'facecare' %}">FaceCare</a></li>
                          <li><a class="dropdown-item" href="{% url 'haircare' %}">HairCare</a></li>
                          <li><a class="dropdown-item" href="{% url 'bodycare' %}">BodyCare</a></li>
                          <li><a class="dropdown-item" href="{% url 'mens_grooming' %}">Men's Grooming</a></li>
                          <li><a class="dropdown-item" href="{% url 'intimatecare' %}">Intimate Care</a></li>
                          <li><a class="dropdown-item" href="{% url 'mothercare' %}">Baby & Mother Care</a></li>
                          <li><a class="dropdown-item" href="{% url 'veterinary' %}">Veterinary Care</a></li>
                        </ul>
                        </li>
                    </ul>
                    
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'blogs' %}">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'careers' %}">Career</a>
                </li>

                <!--Mobile view request a quote and contact us icons-->
                <li class="nav-item d-lg-none mt-3">
                    <a href="#" class="btn btn-custom w-100 mb-2" data-bs-toggle="modal"
                        data-bs-target="#center-modal">Contact Us</a>
                </li>
                <li class="nav-item d-lg-none">
                    <a href="#" class="btn btn-custom w-100 mb-3" data-bs-toggle="modal"
                        data-bs-target="#request-quote-modal">Request a Quote</a>
                </li>
            </ul>

        </div>
        <div class="d-none d-lg-flex flex-column flex-lg-row gap-2 align-items-center p-3">
            <!-- Right Section: Contact & Quote Buttons -->
            <a href="#" class="btn btn-custom w-100 " data-bs-toggle="modal" data-bs-target="#center-modal">Contact
                Us</a>
            <a href="#" class="btn btn-custom w-100 mb-md-0 mb-2" data-bs-toggle="modal"
                data-bs-target="#request-quote-modal">Request a Quote</a>
        </div>
    </div>
</nav>

<div class="modal fade" id="center-modal">
    <form id="Contact_Us" class="submit-form" method="POST" action="{% url 'contact_submit' %}">
        {% csrf_token %}
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header mb-3">
                    <h5 class="modal-title heading text-center" id="exampleModalLongTitle">Contact Us</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        id="closeModalButton"></button>
                </div>
                <div class="modal-body">
                    <div class="form">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <input type="text" id="name" name="name" class="form-control" placeholder="Name"
                                    required minlength="2">
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <input type="email" id="email" name="email" class="form-control" placeholder="Email"
                                    required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <input type="text" id="company" name="company" class="form-control"
                                    placeholder="Company Name">
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <input type="text" id="phone" name="phone" class="form-control" placeholder="Phone"
                                    required pattern="^\d{10,15}$">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <!-- Hidden field to store dropdown selection -->
                                <input type="hidden" name="category" id="category">

                                <div class="dropdown">
                                    <button class="btn dropdown-toggle" type="button" id="categoryDropdownButton"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        Select Category
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="categoryDropdownButton">
                                        <li><button type="button" class="dropdown-item category-item"
                                                data-value="Pharmaceutical">Pharmaceutical</button></li>
                                        <li><button type="button" class="dropdown-item category-item"
                                                data-value="Dermatology">Dermatology</button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                              <textarea class="form-control no-tinymce" name="message" id="message" placeholder="Message"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div id="error_data" style="color: red;"></div>
                    <div id="form_process" style="visibility: hidden;">Processing...</div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="modal fade request-quote" id="request-quote-modal">
    <form id="Request_Quote" class="submit-form" method="POST" action="{% url 'quote_submit' %}">
        {% csrf_token %}
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header mb-3">
                    <h5 class="modal-title heading text-center">Request A Quote</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        id="closeModalButtonRequest"></button>
                </div>
                <div class="modal-body">
                    <div class="form">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <input type="text" id="request-name" name="request-name" class="form-control"
                                    placeholder="Name" required minlength="2">
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <input type="email" name="request-email" id="request-email" class="form-control"
                                    placeholder="Email" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <input type="text" name="request-company" id="request-company" class="form-control"
                                    placeholder="Company Name" required minlength="2">
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <input type="number" id="request-phone" name="request-phone" class="form-control"
                                    placeholder="Phone" required pattern="^\d{10,15}$">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group mt-3">
                                    <select class="form-select" name="request-category" id="request-product" required>
                                        <option value="" disabled selected>Select category</option>
                                        {% for cat in categories %}
                                        <option value="{{ cat.id }}">{{ cat.type }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                  <div class="form-group mt-3">
                                    <select class="form-select" name="request-subcategory" id="subcategory" required selected>
                                        <option value="" disabled selected>Select sub category</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3">
                                    <select class="form-select" name="request-product" id="product" required selected>
                                        <option value="" disabled selected>Select product</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 request-quote-inputs">
                                <input type="number" id="request-quantity" name="request-quantity" class="form-control"
                                    placeholder="Quantity">
                                <input type="text" id="request-customization" name="request-customization"
                                    class="form-control" placeholder="Customization">
                                <textarea class="form-control no-tinymce" name="request-message" placeholder="Message" required></textarea>

                            </div>
                        </div>
                    </div>
                </div>
                 <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>