

.about-container {
    padding: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .about-heading {
    font-family: 'Inria Serif', serif;
    font-weight: 700;
    font-size: 32px;
    color: #0b1957;
    margin-bottom: 20px;
  }

  .about-text {
    font-size: 16px;
    line-height: 1.6;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    color: #0b1957;
    font-family: 'Be Vietnam Pro', sans-serif;
  }

  .service-description-card .heading{
    font-size: 24px;
  }
  @media (min-width: 768px) {
    .about-container {
      padding: 60px 40px;
    }

    .about-heading {
      font-size: 36px;
    }

    .about-text {
      font-size: 18px;
    }
  }

  .service-description{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color: rgba(239,240,245,1);
    gap:4.5rem;
  }

  .service-description-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:400px;
    align-items: center;
    padding:20px;
    border-right: 0.5px solid black;
    border-top: 0.5px solid black;
    
  }

  
 
.product-row {
    margin-bottom: 30px; /* Spacing between rows */
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    height: 100%;
    background-color: rgba(245,130,31,1);
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.product-card:hover {
    cursor:pointer;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.product-img {
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img img {
    max-width: 120px;
    height: auto;
}

.product-type h6 {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    text-align: center;
    margin: 0;
}

/* Responsive adjustments */
@media (max-width: 767px) {
    .product-card {
        padding: 20px;
        margin-bottom: 20px;
    }
}


